<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to Customer Portal</h1>
    <br><br><br><br>
	    <div class="col-md-6" align="left">
	    	<span style="font-size: 18px">Books Inventory:</span>
	    	<table>
	    	<tr ng-repeat="oldbook in oldbooks">
	    		<td>
	    		<div style="border-style: solid; padding: 5px 5px 5px 15px; margin:5px 5px 5px 15px;border-radius: 15px; width: 500px">
		    		Book Title: {{oldbook.title}}
		    		<br>Book Author: {{oldbook.author}}
		    		<br>Book Publisher:	{{oldbook.publisher}}
		    		<br>No of Copies: {{oldbook.count}}			    		
		    		<br>Date Added: {{oldbook.date}}
		    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="btn btn-success" ng-click="request(oldbook)">Request Book</button>
	    		</div>
	    		</td>
	    	</tr>
	    	</table>
	    </div>
	    <div class="col-md-6" align="left">
	    	<span style="font-size:18px">Sort By</span><br>
	    	<button class="btn btn-success" ng-click="sortTitle()">Title</button>
	    	<button class="btn btn-success" ng-click="sortAuthor()">Author</button>
	    	<button class="btn btn-success" ng-click="sortDate()">Date Added</button>
	    	<br><br><br>
	    	<span style="font-size:18px">Borrowed Book:</span><br>
	    	<br>
	    	<div style="border-style: solid; background-color:white; color:black; padding: 5px 5px 5px 15px; margin:5px 5px 5px 15px;border-radius: 15px; width: 500px">
		    		Book Title: {{borrowed.title}}
		    		<br>Book Author: {{borrowed.author}}
		    		<br>Book Publisher:	{{borrowed.publisher}}
		    		<br>
					<button class="btn btn-success" ng-click="returnbook(borrowed)">Return Book</button>
	    		</div>
	    </div>
  </div>
</header>
